.mic-animation {
    animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
    }
}